<ion-header>
  <ion-toolbar>
    <ion-title>
      Sign in
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Sign in</ion-card-title>
            <ion-avatar>
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTj3sL_ZupQ8w42oFW85k5sbX9iJv7U80dmroHULjT79D9d595W" alt="user-avatar">
            </ion-avatar>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label>Username</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Password</ion-label>
              <ion-input type="password"></ion-input>
            </ion-item>
            <ion-button>Sign in</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
